:root {
  --modal-visibility: visible;
  --position-left: 0;
  --position-top: 0;
}

.dict-definition {
  position: absolute;
  box-sizing: border-box;
  width: 250px;
  max-height: 220px;
  overflow: scroll;
  border: solid black;
  border-radius: 0.25rem;
  padding: 0.5rem;
  /*top: calc(var(--position-top) * 1px);
  left: calc(var(--position-left) * 1px);*/
  background-color: rgb(255, 255, 255);
  visibility: var(--modal-visibility);
}

.show-definition {
  visibility: visible;
}

.close-button {
  float: right;
  width: 1.5rem;
  line-height: 1.5rem;
  text-align: center;
  cursor: pointer;
  border-radius: 0.25rem;
}

.close-button:hover {
  background-color: black;
  color: white;
}
