:root {
  --modal-visibility: hidden;
  --position-x: 0;
  --position-y: 0;
}

#dictDefinition {
  position: absolute;
  top: calc(var(--position-y) * 1px);
  left: calc(var(--position-x) * 1px);
  background-color: rgb(255, 255, 255);
  visibility: var(--modal-visibility);
}
